{ 
    box-sizing: border-box;
}
.grid-init {
    max-width: 600px; 
    margin: auto; 
    background-color: rgb(208, 85, 109); 
    padding: 20px; 
}
.box-init {
    font-size: larger; 
    color: #140303; 
    border-radius: 15px; 
    background-color: #f3214b; 
    border: 1px solid rgb(84, 4, 20); 
    padding: 10px; 
    
    display: flex; 
    align-items: center;
    justify-content: center;
}
.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}
.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        "my-header my-header my-header"
        "my-nav my-main my-aside"
        "my-nav my-section my-section"
        "my-footer my-footer my-footer";
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}
.l-header {
    grid-area: my-header;
}
.l-nav {
    grid-area: my-nav;
}
.l-main {
    grid-area: my-main;
}
.l-aside {
    grid-area: my-aside;
}
.l-section {
    grid-area: my-section;
}
.l-footer {
    grid-area: my-footer;
}
